# Virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment files
.env

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Python
__pycache__/
*.pyc

# Virtualenv
venv/

# Secrets
env
.env

/node_modules